<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CORS-HOSTS" value="search.mydomain.com,mysite.mydomain.com"/>
    <add key="CORS-ORIGINS-search.mydomain.com" value="https://intranet.mydomain.com,https://groups.mydomain.com"/>
    <add key="CORS-ORIGINS-mysite.mydomain.com" value="https://intranet.mydomain.com"/>
  </appSettings>
</configuration>